{% extends 'layout.html' %}
{% block contenido %}
<img src="{{ url_for('static', filename='images/Leon.pg') }}" class="rounded mx-auto d-block" alt="...">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form id="eliminar_asignacion_form" action="{{ url_for('eliminar_asignacion', idAsignacion=asignacion_actual.idAsignacion) }}" method="post">
                <div class="form-group col-md-4">
                    <label for="fecha">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" value="{{asignacion_actual.fecha.strftime('%Y-%m-%d')}}" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="idEmpleado">Usuario Advertmind</label>
                    <select id="idEmpleado" name="idEmpleado" class="form-control" readonly="">
                        <option selected value="">Seleccione...</option>
                        {% for empleado in empleados %}
                            <option value="{{ empleado.idEmpleado }}" {% if empleado.idEmpleado == asignacion_actual.empleado %}selected{% endif %}>{{ empleado.usuarioAdv }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="division">División</label>
                    <input type="text" class="form-control" id="divisionEmpleado" name="divisionEmpleado" value="{{ division.division }}" readonly>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" value="{{ empleado_info.nombres }}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" value="{{ empleado_info.apellidos }}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="correoElectronico">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" value="{{ empleado_info.correoElectronico }}" readonly>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="idActivo">Codigo Activo</label>
                    <select id="idActivo" name="idActivo" class="form-control" required disabled>
                        <option selected value="">Seleccione...</option>
                        {% for activo in activos %}
                            <option value="{{ activo.idActivo }}" {% if activo.idActivo == asignacion_actual.activo %}selected{% endif %}>{{ activo.codigo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="categoria">Categoría Activo</label>
                        <input type="text" class="form-control" id="categoria" name="categoria" value="{{ categoria.categoria }}" readonly>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="tipo">Tipo Activo</label>
                        <input type="text" class="form-control" id="tipo" name="tipo" value="{{ tipo.tipo }}" readonly>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="caracteristicas">Características</label>
                        <input type="text" class="form-control text-uppercase" id="caracteristicas" name="caracteristicas" value="{{ activo_info.caracteristicas }}" readonly>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="division">División</label>
                        <input type="text" class="form-control" id="divisionActivo" name="divisionActivo" value="{{ division.division }}" readonly>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mx-2">Eliminar Asignacion - Devolución</button>
                        <button type="button" id="cancelar-btn" class="btn btn-secondary mx-2">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<img src="{{ url_for('static', filename='images/rs.pg') }}" class="img-responsive mx-auto d-block align-middle" alt="...">

<script>
    
    document.getElementById('cancelar-btn').addEventListener('click', function() {
        window.location.href = "{{ url_for('ver_asignaciones') }}";
    });
</script>

{% endblock contenido %}