{% extends 'layout.html' %}
{% block contenido %}
<img src="{{ url_for('static', filename='images/Leon.pg') }}" class="rounded mx-auto d-block" alt="...">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="crear_activo" method="post">
                <div class="form-group col-md-6">
                    <label for="codigo">Código</label>
                    <input type="number" class="form-control" id="codigo" name="codigo" placeholder="Código" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="categoria">Categoría Activo</label>
                        <select id="categoria" name="categoria" class="form-control" required>
                            <option value="" disabled selected>Seleccione...</option>
                            {% for categoria in categorias %}
                            <option value="{{categoria.idCategoria}}">{{categoria.categoria}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tipo">Tipo Activo</label>
                        <select id="tipo" name="tipo" class="form-control" required>
                            <option value="" disabled selected>Seleccione...</option>
                            {% for tipo in tipos %}
                            <option value="{{tipo.idTipo}}">{{tipo.tipo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="division">División</label>
                        <select id="division" name="division" class="form-control" required>
                            <option value="" disabled selected>Seleccione...</option>
                            {% for division in divisiones %}
                            <option value="{{division.idDivision}}">{{division.division}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="caracteristicas">Características</label>
                    <input type="text" class="form-control text-uppercase" id="caracteristicas" name="caracteristicas" placeholder="Características" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="marca">Marca</label>
                        <select id="marca" name="marca" class="form-control">
                            <option value="" disabled selected>Seleccione...</option>
                            {% for marca in marcas %}
                            <option value="{{marca.idMarca}}">{{marca.marca}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="modelo">Modelo</label>
                        <select id="modelo" name="modelo" class="form-control">
                            <option value="" disabled selected>Seleccione...</option>
                            {% for modelo in modelos %}
                            <option value="{{modelo.idModelo}}">{{modelo.modelo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="serial">Serial</label>
                        <input type="text" class="form-control" id="serial" name="serial" placeholder="Serial">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="largo">Largo</label>
                        <input type="text" class="form-control" id="largo" name="largo" placeholder="Largo">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="ancho">Ancho</label>
                        <input type="text" class="form-control" id="ancho" name="ancho" placeholder="Ancho">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="alto">Alto</label>
                        <input type="text" class="form-control" id="alto" name="alto" placeholder="Alto">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="diametro">Diametro</label>
                        <input type="text" class="form-control" id="diametro" name="diametro" placeholder="Diametro">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<img src="{{ url_for('static', filename='images/rs.pg') }}" class="img-responsive mx-auto d-block align-middle" alt="...">

<script>
document.addEventListener('DOMContentLoaded', function() {
    var categoriaSelect = document.getElementById('categoria');
    var marcaSelect = document.getElementById('marca');
    var modeloSelect = document.getElementById('modelo');
    var serialInput = document.getElementById('serial');
    var largoInput = document.getElementById('largo');
    var anchoInput = document.getElementById('ancho');
    var altoInput = document.getElementById('alto');
    var diametroInput = document.getElementById('diametro');

    function toggleFieldsReadonlyBasedOnCategory() {
        var selectedOption = categoriaSelect.options[categoriaSelect.selectedIndex].text.toLowerCase();

        if (selectedOption === 'muebles y enseres') {
            marcaSelect.disabled = true;
            modeloSelect.disabled = true;
            serialInput.disabled = true;
            largoInput.disabled = false;
            anchoInput.disabled = false;
            altoInput.disabled = false;
            diametroInput.disabled = false;
        } else {
            marcaSelect.disabled = false;
            modeloSelect.disabled = false;
            serialInput.disabled = false;
            largoInput.disabled = true;
            anchoInput.disabled = true;
            altoInput.disabled = true;
            diametroInput.disabled = true;
        }
    }

    toggleFieldsReadonlyBasedOnCategory();

    categoriaSelect.addEventListener('change', toggleFieldsReadonlyBasedOnCategory);
});
</script>
{% endblock contenido %}