{% extends 'layout.html' %}
{% block contenido %}
<img src="{{ url_for('static', filename='images/Leon.pg') }}" class="rounded mx-auto d-block" alt="...">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="crear_modelo" method="post">
                <div class="form-group col-md-6" style="margin-bottom: 30px;">
                    <label for="modelo">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" pattern="[A-Z0-9\s]+" title="Solo se permiten letras mayúsculas, números y espacios">
                </div>
                <div class="form-group col-md-6" style="margin-bottom: 30px;">
                    <label for="marca">Marca</label>
                    <select class="form-control" id="marca" name="marca">
                        <option selected>Seleccione...</option>
                        {% for marca in marcas %}
                            <option value="{{ marca.idMarca }}">{{ marca.marca }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<img src="{{ url_for('static', filename='images/rs.pg') }}" class="img-responsive mx-auto d-block align-middle" alt="...">
<script>
    document.getElementById('modelo').addEventListener('input', function (e) {
        e.target.value = e.target.value.toUpperCase();
    });
</script>
{% endblock contenido %}