{% extends 'layout.html' %}
{% block contenido %}
    <img src="{{ url_for('static', filename='images/Leon.pg') }}" class="rounded mx-auto d-block" alt="...">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <form action="crear_asignacion" method="post">
                    <div class="form-group col-md-4">
                        <label for="fecha">Fecha</label>
                        <input type="text" class="form-control" id="fecha" name="fecha" value="{{fecha}}" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="idEmpleado">Usuario Advertmind</label>
                        <select id="idEmpleado" name="idEmpleado" class="form-control">
                            <option selected value="">Seleccione...</option>
                            {% for empleado in empleados %}
                                <option value="{{empleado.idEmpleado}}">{{empleado.usuarioAdv}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="division">División</label>
                        <input type="text" class="form-control" id="divisionEmpleado" name="divisionEmpleado" readonly>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombres">Nombres</label>
                            <input type="text" class="form-control" id="nombres" name="nombres" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellidos">Apellidos</label>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="correoElectronico">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="idActivo">Codigo Activo</label>
                        <select id="idActivo" name="idActivo" class="form-control">
                            <option selected value="">Seleccione...</option>
                            {% for activo in activos %}
                                <option value="{{activo.idActivo}}">{{activo.codigo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="categoria">Categoría Activo</label>
                            <input type="text" class="form-control" id="categoria" name="categoria" placeholder="Categoría" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="tipo">Tipo Activo</label>
                            <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo Activo" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="caracteristicas">Características</label>
                            <input type="text" class="form-control text-uppercase" id="caracteristicas" name="caracteristicas" placeholder="Características" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="division">División</label>
                            <input type="text" class="form-control" id="divisionActivo" name="divisionActivo" placeholder="División" readonly>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="{{ url_for('static', filename='images/rs.pg') }}" class="img-responsive mx-auto d-block align-middle" alt="...">
    <script>
    $('#idEmpleado').change(function() {
        var idEmpleado= $(this).val();
        if (idEmpleado !== "") {
            $.ajax({
                type: "GET",
                url: "/empleados/" + idEmpleado,
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    console.log("Datos recibidos:");
                    console.log(result);
                    if (result.error) {
                        console.error(result.error);
                        return;
                    }
                    $('#divisionEmpleado').val(result.division);
                    $('#nombres').val(result.nombres);
                    $('#apellidos').val(result.apellidos);
                    $('#correoElectronico').val(result.correoElectronico);
                },
                error: function(err) {
                    console.error("Se ha producido un error al obtener los datos: ", err);
                }
            });
        } else {
            $('#divisionEmpleado').val('');
            $('#nombres').val('');
            $('#apellidos').val('');
            $('#correoElectronico').val('');
        }
    });

    $('#idActivo').change(function() {
        var idActivo= $(this).val();
        if (idActivo !== "") {
            $.ajax({
                type: "GET",
                url: "/activos/" + idActivo,
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    console.log("Datos recibidos:");
                    console.log(result);
                    if (result.error) {
                        console.error(result.error);
                        return;
                    }
                    $('#categoria').val(result.categoria);
                    $('#tipo').val(result.tipo);
                    $('#caracteristicas').val(result.caracteristicas);
                    $('#divisionActivo').val(result.division);
                },
                error: function(err) {
                    console.error("Se ha producido un error al obtener los datos: ", err);
                }
            });
        } else {
            $('#categoria').val('');
            $('#tipo').val('');
            $('#caracteristicas').val('');
            $('#divisionActivo').val('');
        }
    });
    </script>
    
{% endblock contenido %}