{% extends 'layout.html' %}
{% block contenido %}
    <img src="{{ url_for('static', filename='images/Leon.pg') }}" class="rounded mx-auto d-block" alt="...">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="editar_ubicacion_form" action="{{ url_for('crear_ubicacion', idUbicacion=ubicacion_actual.idUbicacion) }}" method="post">
                    <div class="form-group col-md-6" style="margin-bottom: 30px;">
                        <label for="ubicacion">Ubicación</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{ ubicacion_actual.ubicacion }}" pattern="[A-Z\s]+" title="Solo se permiten letras mayúsculas y espacios" disabled required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="piso">Piso</label>
                            <input type="text" class="form-control" id="piso" name="piso" value="{{ ubicacion_actual.piso }}" required disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="puesto">Puesto</label>
                            <input type="text" class="form-control" id="puesto" name="puesto" value="{{ ubicacion_actual.puesto }}" required disabled>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-dark mb-2" id="editButton">Modificar</button>
                        <div class="d-flex justify-content-center mt-2">
                            <button type="submit" id="guardar-btn" class="btn btn-success mx-2" style="display: none;">Guardar</button>
                            <button type="button" id="cancelar-btn" class="btn btn-danger mx-2" style="display: none;">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img src="{{ url_for('static', filename='images/rs.pg') }}" class="img-responsive mx-auto d-block align-middle" alt="...">

    <script>
        document.getElementById('editButton').addEventListener('click', function() {
            document.querySelectorAll('#editar_ubicacion_form input, #editar_ubicacion_form select').forEach((element) => {
                element.disabled = false;
            });
            document.getElementById('guardar-btn').style.display = 'inline-block';
            document.getElementById('cancelar-btn').style.display = 'inline-block';
        });
    
        document.getElementById('cancelar-btn').addEventListener('click', function() {
            window.location.href = "{{ url_for('ver_ubicaciones') }}";
        });
    </script>
{% endblock contenido %}