{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          {% for division in divisiones %}
            <tr>  
              <th scope="row">{{division.idDivision}}</th>
              <td>{{division.division}}</td>
              <td>
                <a class="btn btn-danger" href="eliminar_division/{{division.idDivision}}">Eliminar</a>
                <a class="btn btn-success" href="editar_division/{{division.idDivision}}">Editar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}