{% extends 'layout.html' %}

{% block contenido %}
    </div>

      <a href="/crear_tipo" class="btn btn-primary mt-3 mb-4">
        <i class="fa-solid fa-file-circle-plus"></i> Crear Tipo
      </a>

      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Categoría</th>
            <th scope="col">Vigente</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for tipo in tipos %}
            <tr>  
              <th scope="row">{{tipo.Tipos.idTipo}}</th>
              <td>{{tipo.Tipos.tipo}}</td>
              <td>{{tipo.Categorias.categoria}}</td>
              <td>{{tipo.Categorias.estado}}</td>
              <td>
                <a class="btn btn-success" href="editar_tipo/{{tipo.Tipos.idTipo}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-danger" href="eliminar_tipo/{{tipo.Tipos.idTipo}}">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td> 
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>
{% endblock contenido %}