{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Categoría Activo</th>
            <th scope="col">Tipo Activo</th>
            <th scope="col">División</th>
            <th scope="col">Características</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Serial</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>603286</td>
            <td>EQUIPO DE COMPUTO</td>
            <td>PORTATIL</td>
            <td>RESOURCES</td>
            <td>14"/16GB DDR4/256GB SSD</td>
            <td>HP</td>
            <td>EB 840G</td>
            <td>TDWERD904</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>608080</td>
            <td>EQUIPO DE COMPUTO</td>
            <td>MONITOR</td>
            <td>RESOURCES</td>
            <td>19" FLAT LED</td>
            <td>SAMSUNG</td>
            <td>OLED</td>
            <td>CDG16373T</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>601225</td>
            <td>MUEBLES</td>
            <td>SILLA</td>
            <td>STARCOM</td>
            <td>GIRATORIA, BASCULANTE, NIVEL DE ALTURA, PRANA NEGRO, BASE PLASTICA</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}