{% extends 'layout.html' %}

{% block contenido %}
    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
          {% for tipo in tipos %}
            <tr>  
              <th scope="row">{{tipo.Tipos.idTipo}}</th>
              <td>{{tipo.Tipos.tipo}}</td>
              <td>{{tipo.Categorias.categoria}}</td>
              <td>
                <a class="btn btn-danger" href="eliminar_tipo/{{tipo.Tipos.idTipo}}">Eliminar</a>
                <a class="btn btn-success" href="editar_tipo/{{tipo.Tipos.idTipo}}">Editar</a>
              </td> 
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>
{% endblock contenido %}