{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Usuario Advertmind</th>
            <th scope="col">División</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo Electronico</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1072</td>
            <td>LECORTES</td>
            <td>RESOURCES</td>
            <td>LEIDY CAROLINA</td>
            <td>CORTES HUERTAS</td>
            <td>l.cortes@col-resources.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>2040</td>
            <td>JPACHON</td>
            <td>DIGITAS</td>
            <td>JEISSON DAVID</td>
            <td>PACHON CORTES</td>
            <td>j.pachon@publicisgroupe.net</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>0200</td>
            <td>DCEDIEL</td>
            <td>RESOURCES</td>
            <td>DAVID</td>
            <td>CEDIEL SUAREZ</td>
            <td>d.cedielq@col-resources.com</td>
          </tr>
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}