{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Categoría Activo</th>
            <th scope="col">Tipo Activo</th>
            <th scope="col">División</th>
            <th scope="col">Características</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Serial</th>
            <th scope="col">Largo</th>
            <th scope="col">Ancho</th>
            <th scope="col">Alto</th>
            <th scope="col">Diametro</th>
          </tr>
        </thead>
        <tbody>
          {% for activo in activos %}
            <tr>  
              <th scope="row">{{activo.Activos.idActivo}}</th>
              <td>{{activo.Activos.codigo}}</td>
              <td>{{activo.Categorias.categoria}}</td>
              <td>{{activo.Tipos.tipo}}</td>
              <td>{{activo.Divisiones.division}}</td>
              <td>{{activo.Activos.caracteristicas}}</td>
              <td>{{activo.Marcas.marca}}</td>
              <td>{{activo.Modelos.modelo}}</td>
              <td>{{activo.Activos.serial}}</td>
              <td>{{activo.Activos.largo}}</td>
              <td>{{activo.Activos.ancho}}</td>
              <td>{{activo.Activos.alto}}</td>
              <td>{{activo.Activos.diametro}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}