{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
            <tr>  
              <th scope="row">{{categoria.idCategoria}}</th>
              <td>{{categoria.categoria}}</td>
              <td>
                <a class="btn btn-danger" href="eliminar_categoria/{{categoria.idCategoria}}">Eliminar</a>
                <a class="btn btn-success" href="editar_categoria/{{categoria.idCategoria}}">Editar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}