{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario Advertmind</th>
            <th scope="col">División</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo Electronico</th>
          </tr>
        </thead>
        <tbody>
          {% for empleado in empleados %}
          <tr>  
            <th scope="row">{{empleado.Empleados.idEmpleado}}</th>
            <td>{{empleado.Empleados.usuarioAdv}}</td>
            <td>{{empleado.Divisiones.division}}</td>
            <td>{{empleado.Empleados.nombres}}</td>
            <td>{{empleado.Empleados.apellidos}}</td>
            <td>{{empleado.Empleados.correoElectronico}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}