{% extends 'layout.html' %}
{% block contenido %}

    </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ubicación</th>
            <th scope="col">Piso</th>
            <th scope="col">Puesto</th>
          </tr>
        </thead>
        <tbody>
          {% for ubicacion in ubicaciones %}
            <tr>  
              <th scope="row">{{ubicacion.idUbicacion}}</th>
              <td>{{ubicacion.ubicacion}}</td>
              <td>{{ubicacion.piso}}</td>
              <td>{{ubicacion.puesto}}</td>
              <td>
                <a class="btn btn-danger" href="eliminar_ubicacion/{{ubicacion.idUbicacion}}">Eliminar</a>
                <a class="btn btn-success" href="editar_ubicacion/{{ubicacion.idUbicacion}}">Editar</a>
              </td> 
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}