{% extends 'layout.html' %}
{% block contenido %}

    </div>
      <a href="/crear_division" class="btn btn-primary mt-3 mb-4">
        <i class="fa-solid fa-file-circle-plus"></i> Crear Division
      </a>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Division</th>
            <th scope="col">Vigente</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for division in divisiones %}
            <tr>  
              <th scope="row">{{division.idDivision}}</th>
              <td>{{division.division}}</td>
              <td>{{division.estado}}</td>
              <td>
                <a class="btn btn-success" href="editar_division/{{division.idDivision}}">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-danger" href="eliminar_division/{{division.idDivision}}">
                  <i class="fas fa-trash-alt"></i> 
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
  </html>

{% endblock contenido %}